[test]
BST.ConstructionDestruction           = .25
BSTInsert.JustRoot                    = .25
BSTInsert.DoubleInsertLeft            = .25
BSTInsert.DoubleInsertRight           = .25
BSTInsert.InsertZigZigLeft            = .25
BSTInsert.InsertZigZigRight           = .25
BSTInsert.InsertZigZagLeft            = .25
BSTInsert.InsertZigZagRight           = .25
BSTInsert.7Elements                   = .5
BSTClear.Clear                        = .5
BSTFind.InvalidFind                   = .25
BSTInsert.Duplicates                  = .5
BSTInsert.BasicRandom                 = .5
BSTInsert.Random50x30ele              = .5
BSTInsert.Random3x5000ele             = .5
BSTRemove.EmptyTree                   = .25
BSTRemove.NodeMismatch                = .25
BSTRemove.SingleRemove                = .25
BSTRemove.RightChildRemove            = .25
BSTRemove.LeftChildRemove             = .25
BSTRemove.TwoChildrenRemove_3Node     = .5
BSTRemove.TwoChildrenRemove_4Node     = .5
BSTRemove.Random50x30ele              = .5
BSTStress.InsertRemove                = .5
BSTStress.Remove                      = .5
BSTBalance.EmptyTree                  = .25
BSTBalance.OneNode                    = .25
BSTBalance.3Nodes_Unbalanced          = .25
BSTBalance.3Nodes_Balanced            = .25
BSTBalance.UnbalancedSubtree          = .5
BSTBalance.Random50x30ele             = .25
BSTIterator.EmptyTree                 = .25
BSTIterator.SimpleTree                = .25
BSTIterator.ComplexTree               = .25
BSTPredecessor.SimpleTree             = .25
BSTPredecessor.ComplexTree            = .25