[test]
Floorplan.Example1                            = .5
FloorplanNoSolution.Example2                  = .5
Floorplan.Example3                            = .5
Floorplan.OneByOne                            = .5
Floorplan.TwoByOne_SinglePiece_NoRotation     = .5
Floorplan.OneByTwo_SinglePiece_NoRotation     = .5
Floorplan.TwoByOne_SinglePiece_Rotation       = .5
Floorplan.OneByTwo_SinglePiece_Rotation       = .5
FloorplanNoSolution.TwoByOne_NoSolution       = .5
Floorplan.ThreeByTwo_ThreePieces_NoRotation   = .5
Floorplan.ThreeByTwo_TwoPieces_Rotation       = .5
Floorplan.TwoByTwo_TwoPieces_ExtraSpace       = .5
FloorplanNoSolution.TwoByTwo_ImpossibleStack  = .5
Floorplan.TenByTen                            = 1
FloorplanNoSolutionStress.TenByTen_Oversized  = 1
Floorplan.20by20_Random                       = 1.5
Floorplan.50by100_Random                      = 1.5
FloorplanNoSolution.50by100_Random_NoSolution = 1.5
FloorplanStress.500by2000_Random              = 2